<mat-toolbar color="primary">
  <span>ADF</span>

  <span class="example-spacer"></span>
  <button mat-button routerLink="/dashboard" >Inicio</button>
  <button mat-button routerLink="/dashboard/proveedores">proveedores</button>
  <button mat-button routerLink="/dashboard/productos">productos</button>
  <button mat-button routerLink="/dashboard/venta">venta</button>
  <button mat-button routerLink="/dashboard/vendedores">vendedores</button>
  <span class="example-spacer"></span>
  <button routerLink="/logout" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>logout</mat-icon>
  </button>

</mat-toolbar>
